H1{
    color: red;
}
a{
    text-decoration-line: none;
    font-size: large;
    color: #fff;
    border: 2px solid black;
    padding: 10px 15px;
    background-color: hsl(240, 91%, 75%);
    letter-spacing: 1.25px;
}
a:hover{
    transition-delay: 0.4s ;
    background-color: hsl(240, 91%, 86%);

}
h1, h2, h3 {
    cursor: pointer;
}
